<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order | Pesan Nasi Padang</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white border-gray-200">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            class="h-8"
            alt="Warung Padang Logo"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >Warung Padang</span
          >
        </a>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex style-none justify-center items-center gap-5">
            <li>
              <a
                href="{{url_for('home')}}"
                class="block py-2 px-3"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="{{url_for('cart')}}"
                class="block py-2 px-3 text-black rounded"
                aria-current="page"
                >Cart</a
              >
            </li>
            <li>
              <a
                href="{{url_for('orders')}}"
                class="block py-2 px-3 bg-blue-700 text-black rounded text-white"
                aria-current="page"
                >History Order</a
              >
            </li>
            <li>
              <div class="relative inline-block text-left">
                <button
                  id="dropdown-btn"
                  type="button"
                  class="inline-flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring focus:border-blue-300"
                >
                  Profile
                </button>

                <div
                  id="dropdown-menu"
                  class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
                >
                  <div
                    class="py-1"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="options-menu"
                  >
                    <form
                      action="/logout"
                      method="post"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    >
                      <button class="w-full" role="menuitem">Logout</button>
                    </form>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="fixed w-full flex justify-center items-right text-center py-4 lg:px-4"
      id="flash-message"
    >
      <div
        class="p-2 bg-{% if category == 'error' %}red{% else %}green{%endif%}-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
        role="alert"
      >
        <span
          class="flex rounded-full bg-{% if category == 'error' %}red{% else %}green{%endif%}-500 uppercase px-2 py-1 text-xs font-bold mr-3"
          >{{category}}</span
        >
        <span class="font-semibold mr-2 text-left flex-auto">{{message}}</span>
      </div>
    </div>
    <script>
      setTimeout(function () {
        var flashMessage = document.getElementById("flash-message");
        flashMessage.style.display = "none";
      }, 2000);
    </script>
    {% endfor %} {%endif%} {% endwith %}
    <div class="pt-20">
      <h1 class="mb-10 text-center text-2xl font-bold">Order History</h1>
      <div
        class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0"
      >
        <div class="rounded-lg md:w-2/3">
          {% if orders['orders'] %} {% for order in orders['orders'] %}
          <div
            class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start"
          >
            <img draggable="false" src="{{ order['order_items'][0]["img"] }}"
            alt="product-image" class="w-full rounded-lg sm:w-40" />
            <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
              <div class="mt-5 sm:mt-0 flex flex-col justify-between">
                <div>
                  <h2 class="text-lg font-bold text-gray-900">
                    Order ID: {{ order['order_id'] }}
                  </h2>
                  <span class="text-xs">{{order['created_at']}}</span>
                  <ul>
                    {%for order_item in order['order_items']%}
                    <li>
                      {{order_item["name"]}} - {{order_item["quantity"]}}x Rp
                      {{order_item["subtotal"]}}
                    </li>
                    {%endfor%}
                  </ul>
                </div>
                <h2 class="text-lg font-bold text-gray-900">
                  Total: Rp {{order["total"]}}
                </h2>
              </div>
            </div>
            <div>
              <a
                href="/get_receipt/{{order['order_id']}}"
                download="receipt_order_id_{{ order['order_id'] }}.pdf"
                id="downloadLink"
                class="bg-gray-300 px-2 py-1 text-white rounded text-xs flex"
              >
                <img
                  src="{{ url_for('static', filename='images/printer.png') }}"
                  alt="Receipt"
                  height="50"
                  width="50"
                />
              </a>
            </div>
          </div>
          {% endfor %} {% else %}
          <div
            class="mt-6 h-full flex justify-center items-center rounded-lg border bg-white p-6 shadow-md md:mt-0"
          >
            <h1 class="mt-6 h-full rounded-lg bg-white p-6 md:mt-0 md:w-1/3">
              <img
                draggable="false"
                src="{{ url_for('static', filename='images/empty.png') }}"
                alt="Empty order"
              />
            </h1>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#dropdown-btn").click(function () {
          $("#dropdown-menu").toggle();
        });

        $(document).on("click", function (event) {
          if (
            !$(event.target).closest("#dropdown-btn, #dropdown-menu").length
          ) {
            $("#dropdown-menu").hide();
          }
        });
      });
    </script>

    <script>
      function downloadReceipt() {
        // Trigger a click event on the invisible download link
        document.getElementById("downloadLink").click();
      }
    </script>
  </body>
</html>
